.dark-mode {
    background-color: black;
    color: white;
}

.input-dark {
    border: solid white 1px;
    border-radius: 5px;
    color: white;
    background-color: black;
}

.button-dark {
    border: solid white 1px;
    border-radius: 5px;
    color: white;
    background-color: black;
}

.history-container-dark {
    border: solid white 2px;
    border-radius: 5px;
    padding: 25px;
}


.hit-point-box-dark {
    background-color: #222222;
    width: 50%;
    min-width: 500px;
    margin: auto;
    border: solid white 3px;
    border-radius: 5px;
    padding: 20px;
}