.default-mode {
    background-color: gray;
    color: black;
}

.input {
    border: solid black 1px;
    border-radius: 5px;
    color: black;
    background-color: white;
}

.button {
    border: solid black 1px;
    border-radius: 5px;
    color: black;
    background-color: var(--button-color-default);
}

.hit-point-box {
    background-color: white;
    max-width: 500px;
    min-width: 500px;
    margin: auto;
    border: solid black 3px;
    border-radius: 5px;
    padding: 20px;
}

#banner {
    border-bottom: solid black 3px;
    display: grid;
    grid-template-columns: 90% 10%;
}