.dark-mode {
    background: #3B3B3B url(../public/dice-on-table.JPG);
    background-size: 2025px 1350px;
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    background-blend-mode: multiply;
    color: white;
}

.input-number-dark {
    text-align: center;
    border: solid white 1px;
    border-radius: var(--border-radius-px);
    color: white;
    background-color: var(--dark-input-background-color);
}

.input-text-dark {
    border: solid white 1px;
    border-radius: var(--border-radius-px);
    color: white;
    background-color: var(--dark-input-background-color);
}

.button-dark {
    border: 0px;
    border-radius: var(--border-radius-px);
    color: white;
    background-color: var(--dark-input-background-color);
}

.hit-point-box-dark {
    background-color: #222222;
    box-shadow: 3px 3px 10px black;
    max-width: 500px;
    min-width: 500px;
    margin: auto;
    margin-top: 20px;
    border-radius: var(--border-radius-px);
    padding: 20px;
}

#banner-dark {
    border-bottom: solid white 3px;
    display: grid;
    grid-template-columns: 90% 10%;
}

#hp-bar-dark {
    width: 200px;
    height: 20px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: red;
}