.dark-mode {
    background-color: black;
    color: white;
}

.input-number-dark {
    width: 50px;
    border: solid white 1px;
    border-radius: 5px;
    color: white;
    background-color: var(--dark-input-background-color);
}

.input-text-dark {
    border: solid white 1px;
    border-radius: 5px;
    color: white;
    background-color: var(--dark-input-background-color);
}

.button-dark {
    border: solid white 1px;
    border-radius: 5px;
    color: white;
    background-color: var(--dark-input-background-color);
}

.hit-point-box-dark {
    background-color: #222222;
    max-width: 500px;
    min-width: 500px;
    margin: auto;
    border: solid white 3px;
    border-radius: 5px;
    padding: 20px;
}

#banner-dark {
    border-bottom: solid white 3px;
    display: grid;
    grid-template-columns: 90% 10%;
}

#hp-bar-dark {
    width: 200px;
    height: 20px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: red;
}