button:hover {
    background-color: #5072A7;
    color: white;
}

.default-mode {
    background-color: gray;
    color: black;
}

.input {
    border: solid black 1px;
    border-radius: 5px;
    color: black;
    background-color: white;
}

.button {
    border: solid black 1px;
    border-radius: 5px;
    color: black;
    background-color: #cfcfcf;
}

.hit-point-box {
    background-color: white;
    width: 50%;
    min-width: 500px;
    margin: auto;
    border: solid black 3px;
    border-radius: 5px;
    padding: 20px;
}