button:hover {
    background-color: gray;
    color: white;
}

.dark-mode {
    background-color: #222222;
    color: white;
}

.light-mode {
    background-color: white;
    color: black;
}

.input-dark {
    border: solid white 1px;
    border-radius: 5px;
    color: white;
    background-color: black;
}

.input-light {
    border: solid black 1px;
    border-radius: 5px;
    color: black;
    background-color: white;
}

.hit-point-box {
    width: 50%;
    margin: auto;
    border: solid white 3px;
    border-radius: 5px;
    padding: 20px;
}