:root {
    --hover-color: #5072A7;
    --button-color-default: #cfcfcf;
}

button:hover {
    background-color: var(--hover-color);
    color: white;
}

.settings {
    font-size: 20px;
    height: 30px;
    width: 30px;
    margin-top: -12px;
    margin-left: 27px;
    padding: 2px;
}

.glyphicon-ok {
    color: green;
}

.glyphicon-remove {
    color: red;
}