:root {
    --hover-color: #5072A7;
    --button-color-default: #dfdfdf;
    --dark-input-background-color: black;
    --border-radius-px: 6px;
}

button {
    margin: 4px;
    box-shadow: 1px 1px 3px black;
}

button:hover {
    background-color: var(--hover-color);
    color: white;
}

input {
    height: 25px;
    width: 35px;
    box-shadow: 1px 1px 3px black;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#character-name {
    height: 25px;
    width: 200px;
}

#inputs {
    display: grid;
    grid-template-columns: 50% 25% 25%;
    align-items: center;
}

#new-character-inputs {
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
}

.green-hp {
    height: 100%;
    background-color: green;
    border: 0px solid black;
    border-radius: var(--border-radius-px);
}

.glyphicon-ok {
    color: green;
}

.glyphicon-remove {
    color: red;
}

.input-label {
    text-align: left;
}
.settings {
    font-size: 20px;
    height: 30px;
    width: 30px;
    margin-top: -12px;
    margin-left: 27px;
    padding: 2px;
}

.temp-hp {
    height: 10px;
    background-color: blue;
    margin-bottom: 5px;
}